<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="уписп21.Properties.Settings.УП_ИСП21ConnectionString"
            connectionString="Data Source=DESKTOP-CJ9R106\SQLEXPRESS;Initial Catalog=&quot;УП ИСП21&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>